Repository runestone2023/Group-C, pull requests merged in 2023-05, with the labels that each got.

#34 Feature/event source
  robosistance/Rocket.toml
  robosistance/src/endpoints/robot.rs
  robosistance/src/main.rs
  robot/.gitignore
  robot/__init__.py
  robot/main.py
  robot/src/__init__.py
  robot/src/event.py
  robot/src/movement.py
  robot/src/patrol.py
  robot/test/__init__.py
  robot/test/connection.py
Labels: Backend, Robot

#29 Simple object detection, avoids walls
  robot/control.py
  robot/main.py
Labels: Robot

#42 Feature/UI hello endpoint
  robosistance/Rocket.toml
  robosistance/src/endpoints/robot.rs
  robosistance/src/endpoints/ui.rs
  robosistance/src/main.rs
Labels: Backend

#43 Add the patrol button
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.css
  frontend/src/pages/RobotDetails/RobotDetails.tsx
Labels: Frontend

#44 Feature/patrol endpoint
  robosistance/src/endpoints/robot.rs
  robosistance/src/endpoints/ui.rs
  robosistance/src/main.rs
Labels: Backend

#45 Feature/patrol handling
  frontend/src/pages/RobotDetails/RobotDetails.tsx
  robosistance/src/endpoints/robot.rs
  robot/control.py
  robot/main.py
  robot/src/event.py
  robot/src/patrol.py
  robot/src/robot.py
Labels: Backend

#41 Feature/db
  .gitignore
  robosistance/Cargo.lock
  robosistance/Cargo.toml
  robosistance/src/db/mod.rs
  robosistance/src/db/mongodb_robot.rs
  robosistance/src/db/robot_model.rs
  robosistance/src/endpoints/db.rs
  robosistance/src/endpoints/mod.rs
  robosistance/src/main.rs
Labels: Backend

#46 Dorwin/accuracy
  robot/control.py
  robot/main.py
  robot/turning.py
Labels: Robot

#55 Added movement functions, function for getting distance traveled, fol…
  robot/main.py
  robot/src/event.py
  robot/src/movement.py
  robot/src/robot.py
Labels: Robot

#61 Feature/patrol routes
  README.md
  robosistance/Cargo.lock
  robosistance/Cargo.toml
  robosistance/Rocket.toml
  robosistance/src/db/mod.rs
  robosistance/src/db/models.rs
  robosistance/src/db/mongodb.rs
  robosistance/src/db/mongodb_robot.rs
  robosistance/src/db/robot_model.rs
  robosistance/src/endpoints/db.rs
  robosistance/src/endpoints/mod.rs
  robosistance/src/endpoints/robot.rs
  robosistance/src/endpoints/ui.rs
  robosistance/src/main.rs
Labels: Backend

#66 Add the stop patrol button
  frontend/src/pages/RobotDetails/RobotDetails.tsx
Labels: Frontend

#65 Added usage of gyroscope to correct drifts/overshoots
  robot/src/robot.py
Labels: Robot

#67 Feature/interpret sent routes
  frontend/src/pages/RobotDetails/RobotDetails.tsx
  robosistance/src/db/models.rs
  robosistance/src/db/mongodb.rs
  robosistance/src/endpoints/robot.rs
  robosistance/src/endpoints/ui.rs
  robosistance/src/main.rs
  robot/control.py
  robot/main.py
  robot/src/event.py
  robot/src/robot.py
  robot/turning.py
Labels: Backend, Robot

#70 Feature/manual control endpoint
  robosistance/src/db/models.rs
  robosistance/src/endpoints/ui.rs
  robosistance/src/main.rs
  robot/src/robot.py
Labels: Backend

#68 Fix call api. Add manually control api
  frontend/index.html
  frontend/src/assets/demoroute.png
  frontend/src/assets/robot.jpg
  frontend/src/assets/studium-course-image-262x146.png
  frontend/src/components/Robots/CommandInput.tsx
  frontend/src/components/Robots/HistoryLog.tsx
  frontend/src/components/Robots/MoveControl.tsx
  frontend/src/components/Robots/RobotCard.tsx
  frontend/src/components/Robots/RobotList.tsx
  frontend/src/config/apis/endpoint.ts
  frontend/src/config/apis/header.ts
  frontend/src/config/apis/index.ts
  frontend/src/config/apis/payload.ts
  frontend/src/containers/AppLayout/AppLayout.tsx
  frontend/src/hooks/useAppDispatch.ts
  frontend/src/hooks/useResponsive.ts
  frontend/src/pages/Home/Home.tsx
  frontend/src/pages/RobotDetails/RobotDetails.tsx
  frontend/src/pages/RobotsManagement/index.tsx
  frontend/src/pages/routers.tsx
  frontend/src/theme.ts
  frontend/src/types/models/robot.ts
  frontend/src/utils/helpers.ts
  robosistance/src/db/models.rs
  robosistance/src/endpoints/robot.rs
  robosistance/src/endpoints/ui.rs
  robosistance/src/main.rs
Labels: Backend, Frontend
